*
.img{
    width: 30px;
}
.img1{
    width: 1250px;
    height: 400px;
}
.section-six{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.479)), 
    url(footy.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
  }

  .section-seven{
      position: relative;
      width: 100%;
      min-height: 100vh;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
      url(footer1.png) no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 80px;
    }
